In [3]:
from func.utils import read_data

# Roberta Pretrained Model

In [4]:
from transformers import AutoTokenizer
from transformers import AutoModelForSequenceClassification
from scipy.special import softmax

import pandas as pd
import numpy as np

In [5]:
MODEL = f"cardiffnlp/twitter-roberta-base-sentiment"
tokenizer = AutoTokenizer.from_pretrained(MODEL)
model = AutoModelForSequenceClassification.from_pretrained(MODEL)

In [7]:
df = read_data()
df.head()

       textID  ... sentiment
0  cb774db0d1  ...   neutral
1  549e992a42  ...  negative
2  088c60f138  ...  negative
3  9642c003ef  ...  negative
4  358bd9e861  ...  negative

[5 rows x 4 columns]

In [ ]:
example =

In [8]:
tokenizer(df.sample(1)['text'], )

19494    Seeing lots of my FB friends are friending or ...
Name: text, dtype: object